{% extends 'base.html.twig' %}
{% block title %} New Treatement {% endblock %}

{% block body %}

		<h1>income of a new Treatement</h1>

		{{ form_start(form) }}
		{{ form_widget(form) }}
		{{ form_end(form) }}

{% endblock %}