{% extends 'base.html.twig'%}
{% block title %} new Owner {% endblock %}

{% block body %}

<div class="div_wraper">
		
		<h2>new owner register</h2>

	{{ form_start(form) }}
	{{ form_widget(form) }}
	{{ form_end(form) }}

</div>	


{% endblock %}
